<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form class="card-body">
    <label>Title</label>
    <input type="text" name="post-title" class="form-input" />

    <label>Content</label>
    <textarea name="post-body" class="form-input"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>